@@include('./partials/head.phtml', {
    "title": "Homepage",
    "description": "The personal site of George Merlocco (http://george.merloc.co)"
})

@@include('./partials/nav.phtml', { "activeNavHome": "active" })

<div id="header-container" class="push">
    <header class="wrapper clearfix">
        <h1 id="title">Welcome to the Circling Sharks &lt;3</h1>
        <h3>Official Band page!</h3>
        <hr>
    </header>
</div>

<div id="container">
    <!-- Menu Button -->
    <div class="menu-btn">&#9776; Menu</div>

    <div id="main" class="wrapper clearfix">

        <article>
            <header class="font-roboto">
                <h1>Our Sweet Poster</h1>
                <h2>Our Sweet Poster</h2>
                <h3>Our Sweet Poster</h3>
                <h4>Our Sweet Poster</h4>
                <h5>Our Sweet Poster</h5>
                <h6>Our Sweet Poster</h6>
                <p><img src="images/circling-sharks.jpg" alt="Circling Sharks" /></p>
            </header>
            <section>
                <h2>RAZOR TV</h2>
                <p><img src="images/razor-demo-tube.png" alt="RZR" />.</p>
            </section>
            <section>
                <h2>Some extra stuff</h2>
                <p>Turn it up to 11!</p>
            </section>
            <footer>
                <h3>Article Footer</h3>
                <p><a href="#">read moar</a></p>
            </footer>
        </article>

        <aside>
            <h3>end</h3>
            <p>Nothing moar.</p>
        </aside>

    </div> <!-- #main -->
</div> <!-- #main-container -->

@@include('./partials/footer.phtml')
