@@include('./partials/head.phtml', {
    "title": "Portfolio",
    "description": "A collection of the things I have built both physical and digital."
})

@@include('./partials/nav.phtml', { "activeNavPortfolio": "active" })

<div id="header-container" class="push">
    <header class="wrapper clearfix">
        <h1 id="title">Circling Sharks Portfolio</h1>
        <h3>A history of all the kick-ass shows we've played</h3>
        <hr>
    </header>
</div>
<div id="container">
    <!-- Menu Button -->
    <div class="menu-btn">&#9776; Menu</div>

    <div id="main" class="wrapper clearfix">

        <article>
            <header>
                <h1>PORTFOLIO</h1>
            </header>
            <section>
                <h2>Toronto</h2>
                <p>We turned it up to 11!</p>
            </section>
            <footer>
                <h3>Article Footer</h3>
                <p><a href="#">read moar</a></p>
            </footer>
        </article>

        <aside>
            <h3>end</h3>
            <p>Nothing moar.</p>
        </aside>

    </div> <!-- #main -->
</div> <!-- #main-container -->

@@include('./partials/footer.phtml')
