@@include('./partials/head.phtml', {
    "title": "Portfolio",
    "description": "A collection of the things I have built both physical and digital."
})

<div id="header-container">
    <header class="wrapper clearfix">
        <h1 id="title">Welcome to the Circling Sharks</h1>
        <h3>Official Band page!</h3>
        <hr>

        @@include('./partials/nav.phtml', { "activeNavPortfolio": "active" })

    </header>
</div>
<div id="main-container">
    <div id="main" class="wrapper clearfix">

        <article>
            <header>
                <h1>Our Sweet Poster</h1>
                <p><img src="images/circling-sharks.jpg" alt="Circling Sharks" /></p>
            </header>
            <section>
                <h2>RAZOR TV</h2>
                <p><img src="images/razor-demo-tube.png" alt="RZR" />.</p>
            </section>
            <section>
                <h2>Some extra stuff</h2>
                <p>Turn it up to 11!</p>
            </section>
            <footer>
                <h3>Article Footer</h3>
                <p><a href="#">read moar</a></p>
            </footer>
        </article>

        <aside>
            <h3>end</h3>
            <p>Nothing moar.</p>
        </aside>

    </div> <!-- #main -->
</div> <!-- #main-container -->

@@include('./partials/footer.phtml')
